* {
  box-sizing: border-box;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  background-color: aquamarine;
}
main {
}
h1 {
  color: hotpink;
  transition: 5s;
}
h1:hover {
  color: yellow;
  text-shadow: 10px black;
}
.secret {
  color: aquamarine;
}
.secret:hover {
  color: deeppink;
}
.nether-button {
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  margin-left: 36%;
  font-size: x-large;
  background-color: hotpink;
  border-style: solid;
  border-width: 1px;
  color: yellow;
  height: 100px;
  width: 300px;
  border-radius: 10rem;
  transition: background-color 5s, color 1s;
  vertical-align: top;
  text-align: center;
  bottom: 30%;
  left: 30%;
  }
  
.nether-button:hover {
  color: rgb(255, 136, 156);
  background-color: white;
  box-shadow: 4px 4px 10px pink;
}
.hello-button {
  background-color: crimson;
  /* property    :   value */
  color: black;
  border: none;
  height: 33px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 5s;
  text-align: center;
}
.nether-button:hover {
  color: black;
  background-color: thistle;
  opacity: 0.6;
  vertical-align: top;
}

.nether-button:active {
  color: white;
}

.video-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 100px;
}

#paragraphh {
  color: rgb(0, 255, 170);
  transition: 20s;
  font-size: small;
}
#paragraphh:hover {
  color: rgb(172, 136, 255);
  text-shadow: 10px;
  box-shadow: 10px;
  font-size: medium;
}

#secret {
  color: aquamarine;
  transition: 5s;
}
#secret:hover {
  color: black;
}

.buttonz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}
/* drink tea */
/* hello   */
